/* --- General --- */
header, nav,  footer,.centrado{text-align: center;}
#tituloWeb{
	font-size: 64px;
}

nav{
	display: inline;
}
a{text-decoration: none;}
ul{list-style-type: none;}
li{
	color: black;
	padding: 10px;
	text-decoration: none;
	display: inline;
}

.titulo{font-size: 16px;}

footer{
	color: white;
	background-color: #000;
}


/*Home*/
#fraseHome{
	font-size: 22px;
	color: #170055;
}
#autorHome{
	font-size: 22px;
}

/*About*/

.preguntaRandom{color: #170055;}
.datoRandom{}

/*Contacto*/
label{color: #170055;}